
      <div fxFlexAlign="center">
        
        <div fxLayoutAlign="center">
          <p class="header">Get Pre-Qualified for a Loan in less than a minute !</p>
        </div>
        <div fxLayout="column" >
          <p class="subtitle" style="margin-left: 170px;">How it Works:</p>          
          <div class="bullet">
            <ul>
              <li>We'll ask for 2 pieces of information (No SSN needed)</li>
              <li>We'll do a quick and easy verification of your identity</li>
              <li>We'll let you know what you are likely to qualify for</li>
            </ul>
          </div>          
        </div>
        <div fxLayout="row" fxLayoutAlign="center">          
          <div   style="margin-top: 50px; font-size: 20px; font-weight: 400px;">
            <span><img src="" alt=""></span>
            <p style="font-size: 25px; font-weight: 400px;">NO IMPACT TO YOUR CREDIT SCORE</p>
          </div>
          
        </div>
        <div fxLayout="row" fxLayoutAlign="end" style="margin-right: 100px; margin-top: 20px;">
          <span class="start">
           <a routerLink="/info">Get Started</a> 
          </span>
          <img src="../../assets/icons/prequal_navy_button.png" style="float:right;" alt="" height="70px">
        </div>
      </div> 
